@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* ログイン画面 */
.top-logo {
  margin-bottom: 50px;
}

.top-logo img {
  width: 150px;
}

.border {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -10px;
}

.vh-30 {
  height: 30vh;
}

.form-block {
  width: 65%;
}

.top-login {
  margin-right: 10%;
  margin-top: 5%;
}

/* ユーザー情報登録 */
.user-input {
  width: 500px;
  height: auto;
  padding: 30px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -10px;
}

.sex-input {
  display: flex;
}

.sex {
  margin-bottom: 0.5rem;
  margin-right: 8px;
}

.sex-padding {
  padding: 0px 10px;
}

.old {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.old-select {
  width: 100px;
  -moz-appearance: none;
  border: none;
  border-bottom: 1px solid #007bff;
  /* 青い線の色 */
  padding: 5px 0;
  font-size: 16px;
  background: none;
  outline: none;
}

.old-label {
  padding-top: 6px;
  margin-bottom: 0px;
}

.role {
  margin-bottom: 0.5rem;
  margin-right: 8px;
}

.role-input {
  display: flex;
  align-items: center;
}

/* .name-input {
  margin-left: 20px;
} */

/* サイドバー */
.sidebar {
  width: 200px;
  height: 100vh;
  padding: 20px 10px;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

/* トップページ */
.user_status {
  padding: 20px 40px;
}

.top-title {
  font-size: 30px;
  color: #999;
  margin: 10px 15px;
}

.top-wight {
  position: relative;
  margin: 100px auto;
  width: 80%;
  height: auto;

}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* カレンダー */
.past-day {
  color: #999;
  /* グレーにするための色指定 */
  /* その他のスタイル指定 */
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.posts_search {
  position: relative;
  margin: 30px auto;
}

.btn_toukou {
  background-color: #0BA8D2;
  width: 300px;
  height: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn_toukou a {
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
}

.post_bottom_area {
  justify-content: space-between;
}

.posts_key {
  display: flex;
  border-radius: 7px;
}

.keyword {
  width: 220px;
  border-width: 1px;
  border-color: #9E9E9E;
  border-radius: 7px 0px 0px 7px;
}

.keyword_btn {
  width: 80px;
  color: white;
  background-color: #0BA8D2;
  border: none;
  border-radius: 0px 7px 7px 0px;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  width: 150px;
  height: 30px;
  font-size: 12px;
  border-radius: 7px;
  padding: 0 5px;
  border: none;
  background: #E38EAA;
  color: #FFF;
}

.like_posts_btn {
  background: #EBBC5D;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

.category_search {
  margin: 20px 0;
}

.category_search h3 {
  margin-bottom: 10px;
}

.main_category_container {
  margin-bottom: 10px;
}

.toggle_checkbox {
  display: none;
}

.main_category_label {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.main_category_label:hover {
  background-color: #e0e0e0;
}

.arrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.sub_categories {
  display: none;
  margin-top: 5px;
  padding-left: 20px;
}

.toggle_checkbox:checked~.sub_categories {
  display: block;
}

.toggle_checkbox:checked~.main_category_label .arrow {
  transform: rotate(180deg);
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: #FFF;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #FFF;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}
