@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
  height: 100vh;
}

.all_content_h {
  height: 100%;
}

ul,
li {
  list-style: none;
}

/* ログイン画面 */
.top-logo {
  margin-bottom: 50px;
}

.top-logo img {
  width: 150px;
}

.border {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -10px;
}

.vh-30 {
  height: 30vh;
}

.form-block {
  width: 65%;
}

.top-login {
  margin-right: 10%;
  margin-top: 5%;
}

/* ユーザー情報登録 */
.user-input {
  width: 500px;
  height: auto;
  padding: 30px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -10px;
}

.sex-input {
  display: flex;
}

.sex {
  margin-bottom: 0.5rem;
  margin-right: 8px;
}

.sex-padding {
  padding: 0px 10px;
}

.old {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.old-select {
  width: 100px;
  -moz-appearance: none;
  border: none;
  border-bottom: 1px solid #007bff;
  /* 青い線の色 */
  padding: 5px 0;
  font-size: 16px;
  background: none;
  outline: none;
}

.old-label {
  padding-top: 6px;
  margin-bottom: 0px;
}

.role {
  margin-bottom: 0.5rem;
  margin-right: 8px;
}

.role-input {
  display: flex;
  align-items: center;
}

/* サイドバー */
.sidebar {
  width: 200px;
  height: auto;
  padding: 20px 10px;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  max-width: 100%;
  height: 100vh;
}

.board_area {
  width: 100%;
  margin: auto;
  display: flex;
  max-height: 100vh;
  /* ビューポートの高さを最大値として設定 */
  overflow-y: auto;
  /* 縦スクロールを許可 */
}

.sidebar p a {
  color: #FFF;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

/* トップページ */

.user_status {
  padding: 20px 40px;
}

.top-title {
  font-size: 30px;
  color: #999;
  margin: 10px 15px;
}

.top-wight {
  position: relative;
  margin: 100px auto;
  width: 80%;
  height: auto;

}

.top-login1 {
  margin-bottom: 30px;
}



/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
  border: 1px solid #E0E3E7;
}

.calendar .calendar-td1 {
  padding: 5px 20px;
  border: 1px solid #E0E3E7;
}

.tbody .calendar-td {
  height: 110px;
}

.day_part1 {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day_part {
  color: #06A9D2;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

.count {
  margin-right: 0;
}

/* 予約詳細 */
.custom-table2 {
  width: 65%;
}

.reserve_width1 {
  width: 15%;
}

.reserve_width2 {
  width: 40%;
}

.custom-table1 {
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.custom-table .header-row {
  background-color: #06A9D2;
  /* 濃い青 */
  color: #fff;
}

.custom-table .data-row:nth-child(odd) {
  background-color: #fff;
  /* 薄い青1 */
}

.custom-table .data-row:nth-child(even) {
  background-color: #E4F5F9;
  /* 薄い青2 */
}

/* カレンダー */
.calender1 {
  display: flex;
  justify-content: center;
}

.calender2 {
  width: 90%;
  height: 90%;
}

.calender3 {
  /* width: 90%; */
}

.calendar {
  width: 100%;
}

.past-day {
  color: #999;
  /* グレーにするための色指定 */
  /* その他のスタイル指定 */
}

.saturday {
  color: #2200FF;
}

.sunday {
  color: #FF003B;
}

.past-day .saturday {
  color: #2200FF;
}

.past-day .sunday {
  color: #FF003B;
}

.past_reserve {
  color: #999;
}

.day-blank {
  color: #494949;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
  border-radius: 10px;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}

.post_name {
  color: #999;
}

.post_title a {
  color: #494949;
  font-weight: bold;
}

.posts_search {
  position: relative;
  margin: 50px 10px;
}


.post_sub {
  display: inline-block;
  /* インライン要素をブロック要素のように扱う */
  width: auto;
  height: 30px;
  padding: 5px;
  background-color: #06A9D2;
  color: #FFF;
  border-radius: 7px;
}

.btn_toukou {
  margin-bottom: 30px;
  background-color: #0BA8D2;
  width: 300px;
  height: 40px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn_toukou a {
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  line-height: 30px;
}

.post_bottom_area {
  display: flex;
  justify-content: flex-end;
}

.fa-comment {
  color: #999;
}

.posts_key {
  display: flex;
  border-radius: 7px;
  height: 40px;
  margin-bottom: 30px;
}

.keyword {
  width: 220px;
  background-color: transparent;
  border-width: 1px;
  border-color: #9E9E9E;
  border-radius: 7px 0px 0px 7px;
}

.keyword_btn {
  width: 80px;
  color: white;
  background-color: #0BA8D2;
  border: none;
  border-radius: 0px 7px 7px 0px;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
  color: #999;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.search_content {
  max-height: 100vh;
}

.contributor {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_subcategories {
  display: flex;
  align-items: center;
}

.edit-buttons {
  display: flex;
  gap: 10px;
  /* ボタン間のスペース */
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

.btn-common {
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
}

.btn-edit {
  background-color: #017BFF;
  color: white;
}

.btn-delete {
  background-color: #DC3444;
  color: white;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
  border-radius: 10px;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.comment_area {
  display: flex;
  flex-direction: column;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  width: 150px;
  height: 40px;
  margin-bottom: 30px;
  font-size: 12px;
  border-radius: 7px;
  padding: 0 5px;
  border: none;
  background: #E38EAA;
  color: #FFF;
}

.like_posts_btn {
  background: #EBBC5D;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

.category_search {
  width: 300px;
}

.category_search p {
  margin-bottom: 10px;
  color: #494949;
}

.main_categories {
  list-style-type: none;
  padding: 0;
}

.main_category_item {
  margin-bottom: 10px;
  position: relative;
}

.main_category_label {
  cursor: pointer;
  border-bottom: 1px solid #494949;
  color: #494949;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.arrow {
  margin-left: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #494949;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  /* 右下向きの矢印 */
  transition: transform 0.3s ease;
}

.sub_categories {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 30px;
  display: none;
  margin: 0;
  margin-top: 5px;
}

.sub_category_item {
  margin: 25px 0;
  border-bottom: 1px solid #494949;
  padding-left: 10px;
  padding-bottom: 10px;
}

.sub_category_item a {
  color: #494949;
}

.main_category_item.open .sub_categories {
  display: block;
}

.main_category_item.open .arrow {
  transform: rotate(-135deg);
}

/* .arrow.open {
  transform: rotate(45deg);
  /* クリックで下向きの矢印に回転
} */

.subject_edit.open .arrow {
  transform: rotate(-135deg);
}

.category_input {
  margin-bottom: 10px;
}



/* ユーザー検索 */

.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
  gap: 20px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  padding: 20px;
  width: 250px;
  height: 250px;
}

.one_person_1 {
  margin-bottom: 10px;
}

.search_area {
  margin-top: 70px;
  width: 80%;
}

.search_area label {
  color: #696E7C;
}

.free_word {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #E0E5E9;
  color: #494949;
  border-radius: 10px;
  border: none;
  line-height: 40px;
  text-align: left;
  padding-left: 10px;
}

.free_word::placeholder {
  color: #8E8F90;
  /* プレースホルダーの文字色を設定 */
}


.category-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.category-container label {
  margin-bottom: 5px;
  /* ラベルとセレクトボックスの間にスペースを追加 */
}

.category-select {
  width: 50%;
  height: 40px;
  background-color: #E0E5E9;
  color: #8E8F90;
  border-radius: 10px;
  border: none;
  line-height: 40px;
}

.search_conditions {
  padding-bottom: 5px;
  color: #696E7C;
  border-bottom: 2px solid #8E8F90;
}

.search_conditions .arrow {
  margin-top: 5px;
  margin-right: 5px;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
}

.search_conditions_inner.open {
  display: block;
  /* クラスが追加されたときに表示する */
}

.search_conditions.open .arrow {
  transform: rotate(-135deg);
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.user_search_conditions .arrow {
  float: right;
}

.search_sex {
  margin-top: 15px;
}

.search_sex label {
  margin-bottom: 5px;
}

.search_sex1 input {
  margin-right: 15px;
  margin-left: 5px;
}

.search_sex1 span {
  color: #494949;
}

.checkbox-item {
  display: flex;
  align-items: center;
}

.checkbox-item1 {
  margin-right: 15px;
}

.checkbox-item1 label {
  color: #494949;
}

.search_btn {
  margin-top: 20px;
  background-color: #06A9D2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  /* パディングを含む幅と高さを指定 */
  font-size: 16px;
  cursor: pointer;
}

.reset_btn {
  background-color: transparent;
  color: #06A9D2;
  border: none;
  font-size: 16px;
  text-align: center;
  display: block;
  /* displayをblockに */
  width: 100%;
  /* 幅を100%に */
  box-sizing: border-box;
  /* パディングを含む幅と高さを指定 */
  padding: 10px;
  /* パディングを追加 */
}

/* プロフィール画面 */
.subject_edit {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.subject_edit span {
  color: #06A9D2;
  font-size: 15px;
}

.subject_edit_btn .arrow {
  margin-bottom: 2px;
  border: solid #06A9D2;
  border-width: 0 2px 2px 0;
}

.subject_inner {
  display: flex;
  align-items: center;
}

.subject_item {
  margin-right: 10px;
}

.subject_item label {
  margin-bottom: 0px;
}
